# MkDocs
site/

# Rust
cache/
dist/
drafts/
target/
*Cargo.lock

# Tests
tests/Cargo.lock
tests/target
tests/src
tests/config.txt

# Python virtual environments
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# dotenv
.env
.env.*

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# mkdocs
site/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/