# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json
site_name: The Book of BDK
repo_name: bitcoindevkit/bdk
repo_url: https://github.com/bitcoindevkit/bdk
plugins:
  - search

theme:
  name: material
  logo: assets/favicon.ico
  icon:
    repo: fontawesome/brands/github
  favicon: assets/favicon.ico
  palette:
    - scheme: default
      primary: white
      accent: deep orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.tabs
    # - navigation.tabs.sticky
    # - navigation.sections
    - navigation.instant
    # - navigation.indexes
    - navigation.footer
    # - navigation.expand      # expands all sidebar sections by default
    - search.suggest
    - search.highlight
    - content.tabs.link

extra:
  homepage: https://bitcoindevkit.org
  generator: false
  social:
    - icon: fontawesome/solid/globe
      link: https://bitcoindevkit.org
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/bitcoindevkit
    - icon: fontawesome/brands/discord
      link: https://discord.gg/dstn4dQ

markdown_extensions:
  - tables
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
      linenums: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji  
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - def_list
  - md_in_html
  - pymdownx.snippets:
      dedent_subsections: True

nav:
  - Getting Started: 
    - About BDK: index.md
    - Why this Book?: getting-started/why-book.md
    - Project Organization: getting-started/organization.md
    - Getting Started: getting-started/getting-started.md
    - API Documentation: getting-started/api-documentation.md
    - Build a Wallet: getting-started/build-a-wallet.md
    - Migrating from 0.x: getting-started/migrating.md
  - Cookbook:
    - Quick Start Example: cookbook/quickstart.md
    - Full Wallet Example: cookbook/full-wallet.md
    - Syncing:
      - Full Scan vs Sync: cookbook/syncing/full-scan-vs-sync.md
      - Electrum Sync: cookbook/syncing/electrum.md
      - Esplora Sync: cookbook/syncing/esplora.md
      - RPC Sync: cookbook/syncing/rpc.md
      - Kyoto Sync: cookbook/syncing/kyoto.md
    - Persistence:
      - In-Memory Wallet: cookbook/persistence/memory.md
      - SQLite Database: cookbook/persistence/sqlite.md
      - Flat File Persistence: cookbook/persistence/flat-file.md
    - Keys and Descriptors:
      - Creating Descriptors: cookbook/keys-descriptors/descriptors.md
      - Seed Phrase to Descriptors: cookbook/keys-descriptors/seed-phrase.md
    - Transactions:
      - Transaction Builder: cookbook/transactions/transaction-builder.md
  - Architecture:
    - Overview:
      - Design: architecture/design.md
