site_name: The Book of BDK
repo_name: bitcoindevkit/bdk_wallet
repo_url: https://github.com/bitcoindevkit/bdk_wallet

plugins:
  - search

theme:
  name: material
  logo: assets/favicon.ico
  icon:
    repo: fontawesome/brands/github
  favicon: assets/favicon.ico
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
  font:
    text: Roboto
    code: Roboto Mono
  features:
    - navigation.tabs
    # - navigation.tabs.sticky
    # - navigation.sections
    - navigation.instant
    # - navigation.indexes
    - navigation.footer
    # - navigation.expand      # expands all sidebar sections by default
    - search.suggest
    - search.highlight
    - content.tabs.link

extra:
  homepage: https://bitcoindevkit.org
  generator: false
  social:
    - icon: fontawesome/solid/globe
      link: https://bitcoindevkit.org
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/bitcoindevkit
    - icon: fontawesome/brands/discord
      link: https://discord.gg/dstn4dQ

markdown_extensions:
  - tables
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
      linenums: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji  
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - def_list
  - md_in_html
  - pymdownx.snippets:
      dedent_subsections: True

nav:
  - Getting Started: 
    - About BDK: index.md
    - Why this Book?: getting-started/why-book.md
    - Project Organization: getting-started/organization.md
    - Getting Started: getting-started/getting-started.md
    - API Documentation: getting-started/api-documentation.md
    - BDK CLI: getting-started/bdk-cli.md
    - Migrating from 0.x: getting-started/migrating.md
    - 3rd Party Bindings: getting-started/3rd-party-bindings.md
    - More BDK!: getting-started/more-bdk.md

  - Cookbook:
    - Starter Example: cookbook/starter-example.md
    - Syncing:
      - Full Scan vs Sync: cookbook/syncing/full-scan-vs-sync.md
      - Electrum Sync: cookbook/syncing/electrum.md
      - Esplora Sync: cookbook/syncing/esplora.md
      - RPC Sync: cookbook/syncing/rpc.md
      - Kyoto Sync: cookbook/syncing/kyoto.md
    - Persistence:
      - In-Memory Wallet: cookbook/persistence/memory.md
      - SQLite Database: cookbook/persistence/sqlite.md
    - Keys and Descriptors:
      - Creating Descriptors: cookbook/keys-descriptors/descriptors.md
      - Recovery Phrases to Descriptors: cookbook/keys-descriptors/recovery-phrases.md
      - Descriptors to Public Keys: cookbook/keys-descriptors/public-keys.md
    - Transactions:
      - Transaction Builder: cookbook/transactions/transaction-builder.md
    - WASM: cookbook/wasm.md

  - Release Guide:
    - Release 2.3:
      - Release Notes: release-guide/2.3/notes.md
      - Wallet Events: release-guide/2.3/wallet-events.md
    - Release 2.2:
      - Release Notes: release-guide/2.2/notes.md
      - Wallet Events: release-guide/2.2/wallet-events.md
    - Release 2.1:
      - Release Notes: release-guide/2.1/notes.md
      - Exclude Inputs When Building Transactions: release-guide/2.1/txbuilder-exclude.md
      - Support for Public Multipath Descriptors: release-guide/2.1/multipath.md

  - Design:
    - Compact Block Filters: design/cbf.md
